# === Python ===
*.pyc
*.pyo
__pycache__/
*.pyd

# === Virtual Environment ===
env/
venv/

# === Django ===
*.sqlite3
db.sqlite3
media/
staticfiles/
*.log

# === Secrets ===

.env

# === VS Code / IDE ===
.vscode/
.idea/
*.code-workspace

# === Mac/Windows System Files ===
.DS_Store
Thumbs.db
